create database QLCH
go
USE [QLCH]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 09/08/2025 10:34:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHD] [char](10) NOT NULL,
	[MaSP] [char](10) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 09/08/2025 10:34:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [char](10) NOT NULL,
	[MaKH] [char](10) NOT NULL,
	[MaNV] [char](10) NOT NULL,
	[NgayLap] [date] NOT NULL,
	[GiaTien] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 09/08/2025 10:34:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [char](10) NOT NULL,
	[TenKH] [nvarchar](30) NOT NULL,
	[SDT] [char](10) NOT NULL,
	[DiaChi] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSP]    Script Date: 09/08/2025 10:34:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSP](
	[MaLoai] [char](10) NOT NULL,
	[TenLoai] [nvarchar](30) NOT NULL,
	[TenDanhMuc] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 09/08/2025 10:34:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [char](10) NOT NULL,
	[TenNV] [nvarchar](30) NOT NULL,
	[SDT] [char](10) NOT NULL,
	[DiaChi] [nvarchar](100) NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[NgaySinh] [date] NULL,
	[Email] [nvarchar](50) NULL,
	[HinhAnh] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 09/08/2025 10:34:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [char](10) NOT NULL,
	[MaLoai] [char](10) NOT NULL,
	[TenSP] [nvarchar](30) NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[SoLuongTon] [int] NOT NULL,
	[MoTa] [nvarchar](255) NULL,
	[HinhAnh] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 09/08/2025 10:34:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](256) NOT NULL,
	[MaNV] [char](10) NOT NULL,
	[VaiTro] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSP], [SoLuong], [DonGia]) VALUES (N'HD05082551', N'SP05825HXN', 2, CAST(8790000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSP], [SoLuong], [DonGia]) VALUES (N'HD0608253F', N'SP05825ZH0', 3, CAST(7490000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSP], [SoLuong], [DonGia]) VALUES (N'HD0608254E', N'SP03825V3L', 1, CAST(31000000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[HoaDon] ([MaHD], [MaKH], [MaNV], [NgayLap], [GiaTien]) VALUES (N'HD040825CA', N'KH0408MY  ', N'NV001     ', CAST(N'2025-08-04' AS Date), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[HoaDon] ([MaHD], [MaKH], [MaNV], [NgayLap], [GiaTien]) VALUES (N'HD040825SQ', N'KH0408PI  ', N'NV001     ', CAST(N'2025-08-04' AS Date), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[HoaDon] ([MaHD], [MaKH], [MaNV], [NgayLap], [GiaTien]) VALUES (N'HD05082551', N'KH0508DA  ', N'NV001     ', CAST(N'2025-08-05' AS Date), CAST(17580000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SDT], [DiaChi]) VALUES (N'KH0408MY  ', N'Nguyễn Văn A', N'          ', N'')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SDT], [DiaChi]) VALUES (N'KH0408PI  ', N'Trần Thị B', N'          ', N'')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SDT], [DiaChi]) VALUES (N'KH0408VV  ', N'Nguyễn Văn A', N'          ', N'')
GO
INSERT [dbo].[LoaiSP] ([MaLoai], [TenLoai], [TenDanhMuc]) VALUES (N'L001      ', N'iPhone', N'Điện thoại')
INSERT [dbo].[LoaiSP] ([MaLoai], [TenLoai], [TenDanhMuc]) VALUES (N'L002      ', N'Samsung', N'Điện thoại')
INSERT [dbo].[LoaiSP] ([MaLoai], [TenLoai], [TenDanhMuc]) VALUES (N'L003      ', N'Xiaomi', N'Điện thoại')
GO
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [SDT], [DiaChi], [GioiTinh], [NgaySinh], [Email], [HinhAnh]) VALUES (N'NV003     ', N'Lê Hoàng Việt', N'0937838199', N'TP.HCM', N'Nam ', CAST(N'2003-11-22' AS Date), N'', NULL)
GO
INSERT [dbo].[SanPham] ([MaSP], [MaLoai], [TenSP], [DonGia], [SoLuongTon], [MoTa], [HinhAnh]) VALUES (N'SP03825V3L', N'L001      ', N'Iphone 14 Pro', CAST(31000000.00 AS Decimal(18, 2)), 1, N'Siêu đẹp, Siêu sang, siêu abc
', N'iPhone-14.jpg')
INSERT [dbo].[SanPham] ([MaSP], [MaLoai], [TenSP], [DonGia], [SoLuongTon], [MoTa], [HinhAnh]) VALUES (N'SP05825HXN', N'L004      ', N'Oppo Reno10', CAST(8790000.00 AS Decimal(18, 2)), 2, N'Thiết kế đẹp, chụp hình tốt', N'oppo_reno10.jpg')
INSERT [dbo].[SanPham] ([MaSP], [MaLoai], [TenSP], [DonGia], [SoLuongTon], [MoTa], [HinhAnh]) VALUES (N'SP05825OWB', N'L005      ', N'Vivo V29', CAST(7290000.00 AS Decimal(18, 2)), 12, N'Selfie đẹp, hiệu năng ổn', N'vivo_v29.jpg')
GO
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [MaNV], [VaiTro]) VALUES (N'huy', N'6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d49c01e52ddb7875b4b', N'NV002     ', N'nhanvien')
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [MaNV], [VaiTro]) VALUES (N'son', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'NV004     ', N'nhanvien')
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [MaNV], [VaiTro]) VALUES (N'truong', N'6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d49c01e52ddb7875b4b', N'NV001     ', N'admin')
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_CTHD_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_CTHD_SanPham]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_LoaiSP] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiSP] ([MaLoai])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_LoaiSP]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_NhanVien]
GO
